main{
  background: #2b2b2b;
}

.login-form{
  width: 500px;
  height: 500px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 15px 15px 10px 0px rgba(0,0,0,0.16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-title{
  font-weight: 1px !important;
  font-size: 30px;
}

.login-form-inputs-cont{
  width: 75%;
  padding: 30px;
  padding-top: 0;
  box-sizing: border-box;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.login-form-inputs-cont label{
  font-size: 20px;
  text-align: start;
  padding: 0;
  margin: 0;
}

.login-form-inputs-cont input, .login-form-inputs-cont select{
  color: #707070;
  padding: 10px;
  margin-bottom: 20px; 
  border: solid #707070 1px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.inpContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: fit;
}
