.login-form{
  width: 500px;
  height: 500px;
  background-color: #70B22D;
  border: solid #707070 1px;
  display: flex;
}

.login-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-container{
  
}
